html,
body {
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 20%;
  color: black; /* Ensuring text is visible against the white input background */
}

button {
  background-color: #4caf50; /* ChatGPT "Save & Submit" Button Color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 10%;
}

button:hover {
  opacity: 0.8;
}

.response,
.sse-messages {
  margin: 20px auto; /* Centering */
  padding: 20px;
  background-color: #333; /* Dark background for contrast */
  color: #fff; /* Light text color */
  border-radius: 10px;
  width: 50%; /* Takes up half of the screen width */
  max-width: 600px; /* Adjust this value based on your design preference */
  overflow-x: auto; /* Adds horizontal scrolling if content is too wide */
}

.response pre,
.sse-messages pre {
  white-space: pre-wrap; /* Allows text to wrap */
  word-wrap: break-word; /* Breaks the word to prevent overflow */
  text-align: left; /* Aligns text to left */
}
